{% extends 'base.html' %}
{% load static wagtailcore_tags %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
  MyjQuery(document).ready(function () {
    $("#id_consent").on("change", function() {
      if ($('#id_consent').prop('checked')) {
        $('#submit_button').css('display','block');
      } else {
        $('#submit_button').css('display','none');
      }
    })
    $("#id_consent").trigger("change");
    var validator = MyjQuery("#myform").validate();
  });
</script>
{% endblock %}

{% block main %}
    <body>
      <header class="masthead bg-primary text-white text-center">
        <h1>Contact formulier</h1>
        <p class="text-center">voor meer informatie over ons privacy beleid, zie <a href="{% slugurl 'privacy' %}">hier</a>
      </header>
      <section class="page-section">
        <div class="container">
          <form id="myform" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
              <div>{{ form.as_p }}</div>
            </div>
            <button id="submit_button" type="submit" class="btn btn-success">Indienen</button>
          </form>
         </br>
          <h4><a href="/">Terug naar hoofdpagina</a><h4>
        </div>
      </section>
  </body>
{% endblock %}
